* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "DM Sans", sans-serif;
}
/* Esto es el header */
header {
  width: 100%;
  min-width: 280px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(
    67.2deg,
    rgba(37, 208, 199, 1) -7.5%,
    rgba(165, 90, 240, 1) 62.7%
  );
}

header img {
  width: 200px;
  height: auto;
  align-self: center;
  margin-top: 60px;
}

.header-title--container {
  width: 90%;
  min-width: 248px;
  max-width: 900px;
  height: 218px;
  margin-top: 50px;
  text-align: center;
  align-self: center;
}

.header-title--container h1 {
  margin-bottom: 10px;
  font-size: 2.4rem;
  font-weight: bold;
}

.header-title--container p {
  font-size: 1.8rem;
  margin-top: 25px;
  font-weight: bold;
}

.header-title--container .header-buttom {
  position: absolute;
  top: 367px;
  left: calc(50% - 100px);
  text-decoration: none;
  width: 200px;
  height: 40px;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #f39237;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  border: none;
  box-shadow: -1px 14px 205px -43px rgba(0, 0, 0, 0.75);
  color: black;
}

.header-buttom span {
  display: inline-block;
  width: 13px;
  height: 9px;
  margin-left: 10px;
  background: no-repeat;
  background-image: url(./assets/icons/down-arrow.svg);
}

/* Este es el formulario de inscripcion a ofertas */

.formularios {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(
      to right,
      #a6ffcb,
      hsla(189, 96%, 53%, 0.612),
      hsla(205, 100%, 56%, 0.626)
    ),
    url(./assets/playa-form.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  padding-top: 45px;
}
.sub-ofertas {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  line-height: 30px;
}
.sub-ofertas form > input {
  display: flex;
  margin-right: 50px;
}
.submit-form {
  width: 100%;
  height: 35px;
  padding-top: 10px;
}
.submit-form button {
  background: rgb(112, 174, 68);
  border-radius: 10px;
  padding: 10px;
}

.wave {
  position: absolute;
  top: 665px;
  width: 100%;
}

#nombre,
#email {
  display: block;
  width: 250px;
  height: 35px;
  position: relative;
  left: 20px;
  border-radius: 25px;
  text-align: center;
  background-image: linear-gradient(
    183.5deg,
    rgba(244, 173, 6, 1) 18.6%,
    rgba(229, 251, 31, 1) 119.9%
  );
}
/* Esto es el MAIN con ofertas de viajes */

.main-travel-on-sale {
  padding-top: 20px;
  font-size: 1.6rem;
  background: #e9ecef;
  margin: 0 auto;
  padding-bottom: 45px;
}
.main-travel-on-sale h2 {
  background: orange;
  width: 275px;
  height: 45px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
  padding-top: 7px;
}

.card-newyork,
.card-tulum,
.card-amsterdam,
.card-francia {
  border: solid black 1px;
  width: 300px;
  max-width: 500px;
  min-width: 290px;
  height: 450px;
  margin: 0 auto;
  margin-top: 35px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  line-height: 40px;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-tulum:hover {
  transition: 1s;
  transform: scale(1.1);
}

.card-amsterdam:hover {
  transition: 1s;
  transform: scale(1.1);
}
.card-newyork:hover {
  transition: 1s;
  transform: scale(1.1);
}
.card-francia:hover {
  transition: 1s;
  transform: scale(1.1);
}

.main-travel-on-sale img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 200px;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: dashed black;
  margin-bottom: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.all-cards p {
  margin: 10px;
  font-size: 20px;
}

.all-cards .ofert-type {
  display: inline-block;
  color: gray;
  font-size: 1.4rem;
}

.all-cards .destinations-title {
  font-size: 1.9rem;
  font-weight: 700;
}
.all-cards a {
  border: none;
  position: relative;
  left: 200px;
  bottom: 20px;
  background: orange;
  border-radius: 5px;
  padding: 7px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  cursor: pointer;
  width: 100px;
}

.all-cards a:hover {
  background: black;
  color: blueviolet;
}

.all-cards p span {
  font-size: small;
  display: block;
  line-height: 1px;
  color: gray;
}
.all-cards .ofert-type .img-ofert-type {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: grey;
  background-image: url(./assets/vuelos-img.jpg);
}
/* Esto es el Footer */

footer {
  width: 100%;
  background-image: linear-gradient(
    67.2deg,
    rgba(37, 208, 199, 1) -7.5%,
    rgba(165, 90, 240, 1) 62.7%
  );
  height: auto;
  padding: 15px 0px 15px 15px;
}

.sm-footer img {
  width: 45px;
  height: 45px;
}

.sm-footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.sm-footer a {
  padding-right: 45px;
}
#footer-rigth {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img-footer {
  width: 50vw;
}
.img-footer img {
  width: 100px;
  height: auto;
  margin-left: 50px;
  margin-top: 12px;
}

.more-information a {
  display: block;
  margin-right: 50px;
  text-decoration: none;
  color: white;
  line-height: 2;
}

@media (min-width: 930px) {
  .main-travel-on-sale h2 {
    display: inline-block;
    margin-left: 45px;
  }
  .main-travel-on-sale .all-cards {
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    margin: 0 auto;
  }

  .sm-footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }
}
